<a href="https://colab.research.google.com/github/nafisamukhtar/Inventory_Management_Project/blob/main/Adding_New_Products_IMS_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
fd=open("record.json","r")
r=fd.read()
fd.close()

In [2]:
import json

In [3]:
record=json.loads(r)

In [4]:
record

{'01': {'name': 'Milkibar', 'pr': 25, 'qn': 50},
 '02': {'name': 'Kitkat', 'pr': 15, 'qn': 100},
 '03': {'name': 'DairyMilk', 'pr': 100, 'qn': 150},
 '04': {'name': 'Munch', 'pr': 10, 'qn': 200},
 '05': {'name': 'Perk', 'pr': 5, 'qn': 125},
 '06': {'name': 'FiveStar', 'pr': 15, 'qn': 75},
 '07': {'name': 'DairyMilkShots', 'pr': 2, 'qn': 29},
 '08': {'name': 'CocaCola', 'pr': 50, 'qn': 30},
 '09': {'name': 'Pepsi', 'pr': 45, 'qn': 50},
 '10': {'name': 'Fanta', 'pr': 55, 'qn': 70},
 '11': {'name': 'MountainDew', 'pr': 40, 'qn': 60},
 '12': {'name': 'Limca', 'pr': 25, 'qn': 40},
 '13': {'name': 'Slice', 'pr': 35, 'qn': 60},
 '14': {'name': 'Oreo', 'pr': 30, 'qn': 115},
 '15': {'name': 'DarkFantasy', 'pr': 65, 'qn': 125},
 '16': {'name': 'KrackJack', 'pr': 40, 'qn': 100},
 '17': {'name': 'HappyHappy', 'pr': 30, 'qn': 125},
 '18': {'name': 'Tiger', 'pr': 15, 'qn': 200},
 '19': {'name': 'Goodday', 'pr': 50, 'qn': 135},
 '20': {'name': 'FiftyFifty', 'pr': 45, 'qn': 125},
 '21': {'name': 'NutriChoice', 'pr': 65, 'qn': 120},
 '22': {'name': 'MarieLite', 'pr': 25, 'qn': 140},
 '23': {'name': 'JimJam', 'pr': 20, 'qn': 85},
 '24': {'name': 'Sunfeast DreamCream', 'pr': 45, 'qn': 100},
 '25': {'name': 'Snickers', 'pr': 70, 'qn': 90},
 '26': {'name': 'Galaxy', 'pr': 40, 'qn': 80},
 '27': {'name': 'Bar One', 'pr': 85, 'qn': 225},
 '28': {'name': 'Gems', 'pr': 5, 'qn': 170},
 '29': {'name': 'Bournville', 'pr': 30, 'qn': 125},
 '30': {'name': 'Eclairs', 'pr': 2, 'qn': 100}}

**Adding New Items To The Inventory**

In [17]:
prod_id=str(input("Enter product ID : "))
name=str(input("Enter product name : "))
pr=int(input("Enter product price : "))
qn=int(input("Enter product quantity : "))

record[prod_id]= {'name':name,'price':pr,"quantity":qn}

js = json.dumps(record)
fd=open("record.json","w")
fd.write(js)
fd.close()

Enter product ID : 40
Enter product name : milkshake
Enter product price : 60
Enter product quantity : 50

In [18]:
record

{'01': {'name': 'Milkibar', 'pr': 25, 'qn': 50},
 '02': {'name': 'Kitkat', 'pr': 15, 'qn': 100},
 '03': {'name': 'DairyMilk', 'pr': 100, 'qn': 150},
 '04': {'name': 'Munch', 'pr': 10, 'qn': 200},
 '05': {'name': 'Perk', 'pr': 5, 'qn': 125},
 '06': {'name': 'FiveStar', 'pr': 15, 'qn': 75},
 '07': {'name': 'DairyMilkShots', 'pr': 2, 'qn': 29},
 '08': {'name': 'CocaCola', 'pr': 50, 'qn': 30},
 '09': {'name': 'Pepsi', 'pr': 45, 'qn': 50},
 '10': {'name': 'Fanta', 'pr': 55, 'qn': 70},
 '11': {'name': 'MountainDew', 'pr': 40, 'qn': 60},
 '12': {'name': 'Limca', 'pr': 25, 'qn': 40},
 '13': {'name': 'Slice', 'pr': 35, 'qn': 60},
 '14': {'name': 'Oreo', 'pr': 30, 'qn': 115},
 '15': {'name': 'DarkFantasy', 'pr': 65, 'qn': 125},
 '16': {'name': 'KrackJack', 'pr': 40, 'qn': 100},
 '17': {'name': 'HappyHappy', 'pr': 30, 'qn': 125},
 '18': {'name': 'Tiger', 'pr': 15, 'qn': 200},
 '19': {'name': 'Goodday', 'pr': 50, 'qn': 135},
 '20': {'name': 'FiftyFifty', 'pr': 45, 'qn': 125},
 '21': {'name': 'NutriChoice', 'pr': 65, 'qn': 120},
 '22': {'name': 'MarieLite', 'pr': 25, 'qn': 140},
 '23': {'name': 'JimJam', 'pr': 20, 'qn': 85},
 '24': {'name': 'Sunfeast DreamCream', 'pr': 45, 'qn': 100},
 '25': {'name': 'Snickers', 'pr': 70, 'qn': 90},
 '26': {'name': 'Galaxy', 'pr': 40, 'qn': 80},
 '27': {'name': 'Bar One', 'pr': 85, 'qn': 225},
 '28': {'name': 'Gems', 'pr': 5, 'qn': 170},
 '29': {'name': 'Bournville', 'pr': 30, 'qn': 125},
 '30': {'name': 'Eclairs', 'pr': 2, 'qn': 100},
 '31': {'name': 'milkcake', 'price': 55, 'quantity': 100},
 '32': {'name': 'fortuneoil', 'price': 25, 'quantity': 10},
 '33': {'name': 'oats', 'price': 75, 'quantity': 100},
 '34': {'name': 'vanillaicecream', 'price': 10, 'quantity': 50},
 '35': {'name': 'chocobar', 'price': 25, 'quantity': 100},
 '36': {'name': 'badammix', 'price': 45, 'quantity': 100},
 '37': {'name': 'paperboat', 'price': 80, 'quantity': 100},
 '38': {'name': 'jam', 'price': 25, 'quantity': 100},
 '39': {'name': 'ketchup', 'price': 70, 'quantity': 50},
 '40': {'name': 'milkshake', 'price': 60, 'quantity': 50}}